*{
        box-sizing: border-box;         
    }
#tblSample{
    text-align: center;
}
.main #f .essan{
    color: hsl(353deg 87% 18%);
    font-weight: bold;
    text-align: -webkit-auto;
    background-color: hsl(144deg 100% 50%);
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top :10px;
    font-size: 34px ;

}
tr td #btn-post {
    width: 100px;
    height: 55px;
    color: hsla(0,0%,100%,1.00);
    background-color: hsl(240deg 100% 27%);
    border-radius: 20px;
    font-size: 34px ;
}
input , select {
    width: 350px;
    height: 40px;
    font-size: 30px;
}